.font-oxanium {
    font-family: 'Oxanium', sans-serif;
  }
  
  .font-pacifico {
    font-family: 'Pacifico', cursive;
    font-weight: 800;
  }
  
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  
  .font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  .font-rubik {
    font-family: 'Rubik', sans-serif;
  }
  
  .font-source-code-pro {
    font-family: 'Source Code Pro', monospace;
  }

  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .font-wdxl {
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .font-lilita {
    font-family: "Lilita One", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  